.header{
  height: 1.3em;
  background-color: grey;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: antiquewhite;
  font-style: italic;
}

.heading{
  font-style: normal;
  text-align: center;
}

.main{
  background-color:beige;
}