.container{
  font-family: 'Times New Roman', Times, serif;
  background-color:darkseagreen
}

.header{
  background-color: blanchedalmond;
  height: 1.3em;
  text-align: center;
  color: darkslategray
}

.heading{
  color: darkred;
  text-align: center;
}